:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

.btn{
  padding:8px 14px;
  border-radius:8px;
  background:#111;
  color:#fff;
  text-decoration:none;
  border:none;
  cursor:pointer
}
.btn.outline{
  background:#fff;
  color:#111;
  border:1px solid #111
}
